* {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', serif;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgb(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
  background-color: #84B639;
}

header{
  background-color: rgb(245, 245, 248);
  height: 50px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.flex-center{
  display: flex;
  align-items: center;
}

.logo{
  height: 2rem;
  width: auto;
}

.nav-links{
  justify-content: space-around;
  list-style-type: none;
  margin-left: auto;
}

.nav-links a{
  color: black;
  margin: 0 0.5rem;
  text-decoration: none;
}

.nav-links a:hover{
  color: #84B639;
  transition: color 0.2s ease-in-out;
}

main{
  height: 100vh;
}

footer{
  padding: 1rem;
  border-top: 1px solid rgb(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
  width: 75%;
}

.footer-icon{
  margin-right: 0.5rem;
}

.footer-heading{
  margin-bottom: 0.5rem;
}

.social-media-array{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.sm-btn{
  margin-right: 1.5rem;
  font-size: 20px;
}

.fa{
  padding: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 50%;
}

.fa:hover{
  box-shadow: 0 4px 8px 0 rgb(0,0,0,0.5);
}

.fa-facebook{background-color: #3b5999;}
.fa-instagram{background-color: #e4405f;}
.fa-whatsapp{background-color: #25D366;}
.fa-twitter{background-color: #55acee;}
.fa-pinterest{background-color: #bd081c;}