* {
  margin: 0;
  padding: 0;
  font-family: century gothic;
}
header {
  background-color: rgb(245, 245, 248);
  height: 100vh;
  max-width: inherit;
}
ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
}
ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: black;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

ul li a:hover {
  background-color: white;
  color: black;
}
ul li.active a {
  background-color: white;
  color: black;
}

.logo img {
  float: left;
  width: 100px;
  height: auto;
}
.main {
  max-width: 1200px;
  margin: auto;
}
.title {
  position: absolute;
  top: 50%;
  left: 40%;
}
.service {
  position: absolute;
  top: 20%;
}
.footer-design {
  width: 300px;
  padding: 10% 0 0;
  margin: auto;
}





.responsive img{
  width: 100%;
  height: auto;
}